// Main Menu

#nav{
	margin: 1rem;
	li.level-top{
		position: relative;
		display: inline-block;
		> a.level-top{
			padding: 1rem;
		}
		ul.level0{
			visibility: hidden;
			position: absolute;
			width: 130px;
			left: 0;
			top: 20px;
			padding: 1rem;
			background: #fff;
			z-index: 10;
		}
		&:hover{
			> ul.level0{
				visibility: visible;
			}
		}
	}
	li.active{
		& > a{
			color: #2f4054;
		}
	}
}
