.button {
//@extend .btn--large;
  background: $brand-color;
  color: $secondary-color;
  padding: 6px 25px;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
  &:hover{
    background: $secondary-color;
    color: white;
  }
}

:focus{
  outline: 0;
}

// Qty increase/decrease
.quantity{
  width: 100px;
  padding: 0 0 1em 0;
  text-align: center;
  position: relative;
  .fa-plus,
  .fa-minus{
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
  }
  .fa-plus{
    right: 0;
  }
  .fa-minus{
    left: 0;
  }
}
// Grid/list view buttons
.view-mode{
  strong.grid,
  strong.list{
    display: none;
  }
  a.grid{
    display: inline;
  }
}

//Login form
#login-form{
  .registered-users{
    .buttons-set{
      float: left;
       @media (max-width: $lap-start){   
        position: relative;
        bottom: 80px;
      }
      button{
        float:left;
      }
    }
  }
  .new-users{
    .button{
      position: relative;
      bottom: 130px;
      @media (max-width: $lap-start){   
        bottom: 340px;
      }
    }
  }
}

//Scroll to top

.scrollToTop{
  display: none;
  position: fixed;
  cursor: pointer;
  right: 1em;
  bottom: 100px;
}
@media (max-width: $lap-start){
  .fa-chevron-circle-up{
    display: none;
  }
}

// Tables
.my-wishlist{
  .buttons-set{
    button{
        margin: 1em 1em 0 0;
    }
  }
}
.cart-table{
  tfoot{
    button{
        margin: 1em 1em 0 0;      
    }
  }
}