
.super-header{
	height: 60px;
}
.top-links{
	text-align: right;
}
.quick-access{
	padding-bottom: 1em;
	text-align: right;
	#search_mini_form{
		margin-top: 2rem;
		display: inline-block;
		@media (max-width: $lap-start){
			margin-top: 0;
		}
	}
}
.super-header{
	@media (max-width: $lap-start) {
		display: none;	
	}
}
.mm-offcanvas{
	.super-header{
		display: block;
	}
}